<!-- Menu -->
<header style="background-color: aquamarine; height: 100px;">
    <h1>This is Header</h1>
    <section id="menu">
        <a href="home.html" @click.prevent="component('component/content/home.html','content','home')">Home</a>
        <a href="no-content-footer.html" @click.prevent="component('component/no-content-footer.html','body','no-content-footer')">No Content Footer Page</a>
        <a href="blog1.html" @click.prevent="component('component/content/blog1.html','content','blog1')">Blog</a>
        <a href="product1.html" @click.prevent="
        component('component/content/product1.html','content','product1');
        loadScript('component/product/index.js', 'content')
        ">Product 1</a>
        <a href="product2.html" @click.prevent="component('component/content/product2.html','content','product2')">Product 2</a>
    </section>
</header>
<section id="content">
    <h1>This is blog1</h1>
    <img src="assets/expansion.scene.png">
    <p style="color:cornflowerblue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis omnis fuga voluptates consequuntur sed, qui ullam accusamus aut in aspernatur? In ullam mollitia libero minima, accusamus quidem a est magni.</p>
</section>
<footer style="background-color: aqua; height: 100px;">
    <h1 style=color:darkgoldenrod>This is footer</h1>
</footer>