<header id="header" style="background-color: aquamarine; height: 100px;">
    <h1 style="color:burlywood;">This is no content footer page.</h1>
    <section id="menu">
        <a href="home1.html" @click.prevent="component('component/body/home1.html','body','home1')">Home</a>
        <a href="no-content-footer.html" @click.prevent="component('component/body/no-content-footer.html','body','no-content-footer')">No Content Footer Page</a>
        <a href="blog1.html" @click.prevent="component('component/body/blog1.html','body','blog1')">Blog</a>
        <a href="product1.html" @click.prevent="component('component/body/product1.html','body','product1')">Product 1</a>
        <a href="product2.html" @click.prevent="component('component/body/product2.html','body','product2')">Product 2</a>
    </section>
</header>
<section id="content">No content</section>
<section id="footer">No footer</section>