<!-- Menu -->
<header style="background-color: aquamarine; height: 100px;">
    <h1>This is Header</h1>
    <section id="menu">
        <a href="home1.html" @click.prevent="component('component/content/home1.html','content','home1')">Home</a>
        <a href="no-content-footer.html" @click.prevent="component('component/body/no-content-footer.html','body','no-content-footer')">No Content Footer Page</a>
        <a href="blog1.html" @click.prevent="component('component/content/blog1.html','content','blog1')">Blog</a>
        <a href="product1.html" @click.prevent="
        component('component/content/product1.html','content','product1');
        loadScript('component/product/index.js', 'content')
        ">Product 1</a>
        <a href="product2.html" @click.prevent="component('component/content/product2.html','content','product2')">Product 2</a>
    </section>
</header>
<section id="content">
    <div style="text-align: center; background: bisque;">
        <img src="assets/grid-list.scene.png">
        <div>Price: 600</div>
        <p>Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam cumque earum, rem quibusdam, quod consequuntur, necessitatibus reiciendis numquam odit aspernatur sit neque asperiores autem hic sint totam optio molestias. Nisi!</div>
    </div>
</section>
<footer style="background-color: aqua; height: 100px;">
    <h1 style=color:darkgoldenrod>This is footer</h1>
</footer>