<!-- Menu -->
<header style="background-color: aquamarine; height: 100px;">
    <h1>This is Header</h1>
    <section id="menu">
        <a href="home-page.html" @click.prevent="component('component/home.html','content','home-page')">Home</a>
        <a href="new-page.html" @click.prevent="component('component/new-page.html','body','new-page')">New Page</a>
        <a href="blog-page1.html" @click.prevent="component('component/blog/blog1.html','content','blog-page1')">Blog</a>
        <a href="product-page1.html" @click.prevent="
        component('component/product/product1.html','content','product-page1');
        loadScript('component/product/index.js', 'content')
        ">Product 1</a>
        <a href="product-page2.html" @click.prevent="component('component/product/product2.html','content','product-page2')">Product 2</a>
    </section>
</header>
<section id="content">
    <div style="text-align: center; background: bisque;">
        <img src="assets/grid-list.scene.png">
        <div>Price: 600</div>
        <p>Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam cumque earum, rem quibusdam, quod consequuntur, necessitatibus reiciendis numquam odit aspernatur sit neque asperiores autem hic sint totam optio molestias. Nisi!</div>
    </div>
</section>
<footer style="background-color: aqua; height: 100px;">
    <h1 style=color:darkgoldenrod>This is footer</h1>
</footer>