<header id="header" style="background-color: aquamarine; height: 100px;">
    <h1 style="color:burlywood;">This is new body.</h1>
    <section id="menu">
        <a @click="component('component/home-page.html','body','home-page')">Home</a>
        <a @click="component('component/new-page.html','body','new-page')">New Page</a>
        <a @click="component('component/blog1.html','body','blog-page1')">Blog</a>
        <a @click="component('component/product1.html','body','product-page1')">Product 1</a>
        <a @click="component('component/product2.html','body','product-page2')">Product 2</a>
    </section>
</header>
<section id="content">No content</section>
<section id="footer">No footer</section>