
<header id="header" style="background-color: aquamarine; height: 100px;">
    <h1 style="color:burlywood;">This is new body.</h1>
    <section id="menu">
        <a @click="
                fetch('component/home.html')
                .then(res => { 
                    if(res.ok) {
                        return res.text()
                    }
                })
                .then(html => {
                    document.getElementById('content').innerHTML = html
                    history.pushState(null,'','home-page')
                })">Home</a>
            <a @click="
                fetch('newpage.html')
                .then(res => {
                    if(res.ok) {
                        return res.text()
                    }
                })
                .then(html => {
                    document.getElementById('body').innerHTML = html;
                    history.pushState(null,'','new-page')
                })"
            >New Page</a>
            <a @click="
                fetch('component/blog1.html')
                .then(res => { 
                    if(res.ok) {
                        return res.text()
                    }
                })
                .then(html => {
                    document.getElementById('content').innerHTML = html;
                    history.pushState(null,'','blog-page1')
            })"
            >Blog</a>
            <a @click="
                fetch('component/product1.html')
                .then(res => { 
                    if(res.ok) {
                        return res.text()
                    }
                })
                .then(html => {
                    document.getElementById('content').innerHTML = html;
                    history.pushState(null,'','product-page1')
            })"
            >Product 1</a>
            <a @click="
                fetch('component/product2.html')
                .then(res => { 
                    if(res.ok) {
                        return res.text()
                    }
                })
                .then(html => {
                    document.getElementById('content').innerHTML = html;
                    history.pushState(null,'','product-page2')
            })"
            >Product 2</a>
    </section>
</header>
<section id="content">No content</section>
<section id="footer" hx-get="/footer" hx-trigger="path-deps" path-deps="/newpage">No footer</section>