<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA Routing Experiment</title>
    <script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.0/dist/ext/path-deps.js" defer></script>
    <base href="/htmx">
</head>
<body id="body">
    <!-- Menu -->
    <header style="background-color: aquamarine; height: 100px;">
        <h1>This is Header</h1>
        <section id="menu">
            <a hx-get="component/home.html" hx-target="#content" hx-push-url="/home-page">Home</a>
            <a hx-post="component/new-page" hx-target="#body" hx-push-url="/newpage">New Page</a>
            <a hx-get="component/blog1" hx-post="/blog1" hx-target="#content" hx-push-url="/blog-page1">Blog</a>
            <a hx-get="component/product1" hx-post="/product1" hx-target="#content" hx-push-url="/product-page1">Product 1</a>
            <a hx-get="component/product2" hx-post="/product2" hx-target="#content" hx-push-url="/product-page2">Product 2</a>
        </section>
    </header>
    <section id="content">
        <h1>This is blog1</h1>
        <img src="assets/expansion.scene.png">
        <p style="color:cornflowerblue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis omnis fuga voluptates consequuntur sed, qui ullam accusamus aut in aspernatur? In ullam mollitia libero minima, accusamus quidem a est magni.</p>
    </section>
    <footer style="background-color: aqua; height: 100px;">
        <h1 style=color:darkgoldenrod>This is footer</h1>
    </footer>
</body>
</html>